data/temp/minover100dif.log
config/config.json
.vscode/launch.json
debug
log/*.*
data/10minorderdebug.log
data/minorderdebug.log
data/Summary5MinTop10Report.log
data/MinReport/*.*
config/10MinCurtCurrency.json
config/MinCurtCurrency.json
data/5minsscoremap.log
data/15minorderdebug.log
data/minorderdebug1try.log
data/orderdebug.log
data/Readytobuy.log
